.chat__body {
  padding: 0;
}

.chat__body .header,
.chat__body .status-bar {
  padding: 0px 20px;
}

.chat-screen {
  background-image: url("../images/chatBg.png");
  min-height: 120vh;
  padding-top: 90px;
}

.chat__write {
  position: fixed;
  bottom: 50px;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 0px 20px;
  border-radius: 40px;
  box-shadow: 0px 30px 60px -12px rgba(50, 50, 93, 0.2),
    0px 18px 36px -18px rgba(0, 0, 0, 0.3),
    0px -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
  padding: 20px 10px;
  width: 100%;
  border: none;
  font-size: 14px;
}

.chat__write-column input:focus {
  outline: none;
}

.status-bar {
  position: fixed;
  width: 96%;
  height: 1000px;
}

.header {
  position: fixed;
  width: 96%;
  height: 100px;
}

.chats {
  padding-top: 100px;
}
