.bigScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(https://img.insight.co.kr/static/2017/01/02/700/6U4HF3Q4LQLU316522U1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: #fce006; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #4e4e4ebb;
  font-size: 30px;
  text-align: center;
  line-height: 1.5;
  padding: 0px 20px;
  display: none;
  z-index: 4;
}

@media screen and (min-width: 550px) {
  .bigScreen {
    display: flex;
  }
}
